# SPDX-License-Identifier: Apache-2.0
# 使用 CMSIS-DAP / SWD；下载和调试由调用命令决定。
source [find interface/cmsis-dap.cfg]
transport select swd
source [find target/stm32f4x.cfg]
adapter speed 500
reset_config none
